.gradle/
target/
!gradle/wrapper/gradle-wrapper.jar

# Spring Tool Suite
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# NetBeans
.nb-gradle/
build/
dist/
nbbuild/
nbdist/
nbproject/private/
