body, h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-sans-serif);
}

code, pre, pre > code {
  font-family: var(--font-family-monospace);
}

pre.highlight {
  background-color: #f8f8f8;
}

code, pre.highlight code {
  color: #000;
}

.hljs-comment, .hljs-meta {
  color: #677;
}

.jumbotron {
  background: url("../images/background.jpg") no-repeat;
  background-size: cover;
  padding-bottom: 20px;
  text-shadow: 1px 1px #000;
}

.jumbotron, .jumbotron h1 {
  color: #fff;
}

.jumbotron address {
  color: #2a4;
  font-size: 80%;
  margin-bottom: 0;
  text-shadow: none;
}

.jumbotron address a {
  color: #2a4;
  text-decoration: underline;
}

.literalblock pre::selection,
.listingblock pre[class="highlight"]::selection,
.highlight::selection,
pre::selection,
.highlight code::selection,
.highlight code span::selection {
  background: #d1ff79 !important;
}

.title {
  font-family: var(--font-family-sans-serif) !important;
}

#toctitle {
  display: block;
}
