body, h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-sans-serif);
}

code, pre, pre > code {
  font-family: var(--font-family-monospace);
}

pre.highlight {
  background-color: #f8f8f8;
}

code, pre.highlight code {
  color: #000;
}

.hljs-comment, .hljs-meta {
  color: #677;
}

.literalblock pre::selection,
.listingblock pre[class="highlight"]::selection,
.highlight::selection,
pre::selection,
.highlight code::selection,
.highlight code span::selection {
  background: #d1ff79 !important;
}

.title {
  font-family: var(--font-family-sans-serif) !important;
}

#toctitle {
  display: block;
}
