---
layout: default
---

<div class="jumbotron">
  <h1 class="display-4">{{ site.title }}</h1>
  <p class="lead">{{ page.title }}</p>
  <ul>
    <li>Schema-first framework generates Java code to connect GraphQL to your application code.
    <li>Migrate request and response representations between API versions.
    <li>Spring Boot integration included.
  </ul>
  <address class="text-right">
    Photo by <a href="https://unsplash.com/photos/EvKBHBGgaUo">Jonatan Pie</a>
    on <a href="https://unsplash.com/">Unsplash</a>
  </address>
</div>
<div>
  {{ content }}
</div>
