---
layout: default
---

<div class="jumbotron">
  <h1>{{ site.title }}: <small>{{ page.title }}</small></h1>
  <ul>
    <li>Schema-first framework generates Java code to connect GraphQL to your application code.
    <li>Migrate request and response representations between API versions.
    <li>Spring Boot integration included.
  </ul>
  <address>
    Photo by <a href="https://unsplash.com/photos/EvKBHBGgaUo">Jonatan Pie</a>
    on <a href="https://unsplash.com/">Unsplash</a>
  </address>
</div>
<div>
  {{ content }}
</div>
